<!-- Base template with top and side navigation -->


<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      
  157-4665 4532

      | EBF Cargo
    </title>
    <link rel="shortcut icon"
          href="/static/images/favicons/ebf-favicon.2cbf34bf0830.webp"
          type="image/png" />
    <!-- Custom BS CSS -->
    <link rel="stylesheet"
          href="/static/fonts/bootstrap-icons-1.11.3/font/bootstrap-icons.min.99c98a747647.css" />
    <link rel="stylesheet" href="/static/css/project.min.1828a295f9f9.css" />
    <!-- Specific CSS -->
    
    
    <!-- Load Jquery before the HTML. Needed for bootstrap_datepicker_plus. -->
    <script src="/static/js/jquery.min.2c872dbe60f4.js"></script>
  </head>
  <body data-bs-theme="dark">
    <div>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-xl navbar-absolute fixed-top navbar-dark bg-ebfbluedark p-1">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand py-0 ms-3 " href="#">
              <img src="/static/images/ebf_logo_full.32a539f2770c.png"
                   alt="EBF Logo"
                   height="45px" />
            </a>
          </div>
          <button id="navbar-toggle"
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarDropdown"
                  aria-controls="navbarDropdown"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarDropdown">
            
  <!-- EXTERNAL USERS - Content of the Top Nav Bar, regardless of color -->

  <ul class="navbar-nav ms-2 ms-md-5 mb-2 mb-lg-0">
  <li class="nav-item me-2">
    <a class="nav-link active"
       href="/customer/awb/list/"><i class="bi bi-airplane-fill me-2"></i>AWBs</a>
  </li>
</ul>


<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown show">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="circle-half" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
    </symbol>
    <symbol id="moon-stars-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
    </symbol>
    <symbol id="sun-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
    </symbol>
  </svg>
  <a class="nav-link dropdown-toggle"
     href="#"
     id="bd-theme"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">
    <svg width="16"
         height="16"
         fill="currentColor"
         class="bi my-1 theme-icon-active"
         viewBox="0 0 16 16">
      <use href="#circle-half"></use>
    </svg>
    <span class="d-lg-none ms-2" id="bd-theme-text">Cambiar Tema</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end"
      aria-labelledby="bd-theme-text">
    <li>
      <button type="button"
              class="dropdown-item d-flex align-items-center"
              data-bs-theme-value="light"
              aria-pressed="false">
        <svg width="16"
             height="16"
             fill="currentColor"
             class="bi me-2 opacity-50 theme-icon">
          <use href="#sun-fill"></use>
        </svg>
        Light
      </button>
    </li>
    <li>
      <button type="button"
              class="dropdown-item d-flex align-items-center"
              data-bs-theme-value="dark"
              aria-pressed="false">
        <svg width="16"
             height="16"
             fill="currentColor"
             class="bi me-2 opacity-50 theme-icon">
          <use href="#moon-stars-fill"></use>
        </svg>
        Dark
      </button>
    </li>
    <li>
      <button type="button"
              class="dropdown-item d-flex align-items-center active"
              data-bs-theme-value="auto"
              aria-pressed="true">
        <svg width="16"
             height="16"
             fill="currentColor"
             class="bi me-2 opacity-50 theme-icon">
          <use href="#circle-half"></use>
        </svg>
        Auto
      </button>
    </li>
  </ul>
</li>

  <li class="nav-item py-0 col-12 col-lg-auto">
    <div class="vr d-none d-lg-flex h-100 mx-lg-1 text-white"></div>
    <hr class="d-lg-none text-white" />
  </li>
  <li class="nav-item dropdown show">
    <!-- Hack to make dropdown work, but should be without show -->
    <a class="nav-link dropdown-toggle"
       href="#"
       id="navbarDropdownMenuLink"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      <i class="bi bi-person-circle me-2"></i>EXPERTS H.
    </a>
    
  <ul class="dropdown-menu dropdown-menu-end"
    aria-labelledby="navbarDropdownMenuLink">
  <li>
    <button type="button"
            class="dropdown-item"
            hx-get="/users/external/cliente/570/"
            hx-target="#htmxProfileDialog">
      <i class="bi bi-person-circle me-2"></i>My Profile
    </button>
  </li>
  <li class="mx-auto col-12 col-lg-10">
    <hr class=" my-1" />
  </li>
  <li>
    <button type="button"
            class="dropdown-item"
            hx-get="/users/logout/en"
            hx-target="#htmxProfileDialog">
      <i class="bi bi-box-arrow-right me-2"></i>Log Out
    </button>
  </li>
</ul>


  </li>
</ul>


          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="position-fixed top-0 end-0 p-3"
     style="margin-top: 100px;
            z-index: 7000">
  <div id="toast-error"
       class="toast align-items-center text-white fw-semibold bg-danger border-0"
       style="--bs-bg-opacity: .95"
       role="alert"
       aria-live="assertive"
       aria-atomic="true">
    <div class="d-flex">
      <div id="toast-error-body" class="toast-body"></div>
      <button type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
</div>

      <div class="position-fixed top-0 end-0 p-3"
     style="margin-top: 50px;
            z-index: 7000">
  <div id="toast"
       class="toast align-items-center text-white fw-semibold bg-success border-0"
       style="--bs-bg-opacity: .9"
       role="alert"
       aria-live="assertive"
       aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body"></div>
      <button type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
</div>

      <!-- ALERTAS DE MENSAJES ACTIVOS -->
      
        <div class="container-fluid px-3 mt-3">
          
            <div class="alert alert-warning alert-dismissible fade show text-small mb-2"
                 role="alert">
              <i class="bi bi-exclamation-circle-fill me-2"></i>
              The recorded information has been entered by the user and will be processed as provided. EBF Cargo Cia Ldta is not responsible for any errors, omissions, or consequences resulting from incorrect data.
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          
        </div>
      
      <div class="px-3">
        
  <div class="content">
    <div class="row mb-3">
      <div class="col-12">
        <h1 class="text-start">157-4665 4532</h1>
      </div>
    </div>
    <section class="border rounded-3 bg-body-tertiary mb-4 shadow">
      <div class="pb-3 pt-3 px-4">
        <div class="row g-2 align-items-center">
          <div class="col-12 col-lg-4 d-flex align-items-center gap-2">
            <span>AWB:</span>
            <span class="fw-semibold">157-4665 4532</span>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-center gap-2">
            <span>Airline:</span>
            <span class="fw-semibold">QATAR AIRWAYS (QR)</span>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-center gap-2">
            <span>ETD/ETA:</span>
            <span class="fw-semibold">26-May-2026 / 26-May-2026</span>
          </div>
        </div>
        <div class="row g-2 align-items-center mt-0">
          <div class="col-12 col-lg-4 d-flex align-items-center gap-2">
            <span>Consignee:</span>
            <span class="fw-semibold">KAM</span>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-center gap-2">
            <span>Shipper:</span>
            <span class="fw-semibold">EBF CARGO CIA LTDA CP170183</span>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-center gap-2">
            <span>Route:</span>
            <span class="fw-semibold">UIO / AMS</span>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </section>
    <section>
      
        <div id="htmxModal"
             class="modal fade"
             data-bs-backdrop="static"
             tabindex="-1">
          <div id="htmxDialog"
               class="modal-dialog  modal-dialog-centered"
               hx-target="this"></div>
        </div>
      
      <div class="border-bottom px-2 py-2">
        
  <div class="row g-2 align-items-end" id="row-awb-sections-menu">
    <div hx-trigger="load"
         hx-get="/customer/awb/9850/details/"
         hx-target="#id-awb-content-container"
         hx-swap="innerHTML"
         hx-indicator="#bar-indicator"></div>
    <div class="col-12 col-xxl-3">
      <div class="btn-group flex-wrap" role="group">
        <input type="radio"
               class="btn-check"
               name="awb-detail-section"
               id="btnAwbInfo"
               autocomplete="off"
               checked
               hx-get="/customer/awb/9850/details/"
               hx-target="#id-awb-content-container"
               hx-swap="innerHTML"
               hx-trigger="click"
               hx-disabled-elt="#row-awb-sections-menu input[type='radio']"
               hx-indicator="#bar-indicator" />
        <label class="btn btn-outline-ebfbluedark" for="btnAwbInfo">INFO</label>
        <input type="radio"
               class="btn-check"
               name="awb-detail-section"
               id="btnAwbCustomers"
               autocomplete="off"
               hx-get="/customer/awb/9850/customers/"
               hx-target="#id-awb-content-container"
               hx-swap="innerHTML"
               hx-trigger="click"
               hx-disabled-elt="#row-awb-sections-menu input[type='radio']"
               hx-indicator="#bar-indicator" />
        <label class="btn btn-outline-ebfbluedark" for="btnAwbCustomers">CUSTOMERS</label>
        
          <span class="btn btn-outline-ebfbluedark disabled">DOCUMENTS <span class="badge bg-secondary">0</span></span>
        
      </div>
    </div>
    <div class="col-12 col-xxl-9">
      <div id="id-awb-top-filter-container"></div>
    </div>
  </div>

      </div>
      <div id="bar-indicator" class="progress mb-0 rounded-0">
        <div class="indeterminate"></div>
      </div>
      <div class="pt-3" id="id-awb-content-container">
        
        
      </div>
    </section>
  </div>

      </div>
      <!-- Modal User Details-->
<div id="htmxProfileModal" class="modal fade" data-bs-backdrop="static">
  <div id="htmxProfileDialog"
       class="modal-dialog modal-dialog-centered"
       hx-target="this"></div>
</div>

      <div id="htmxModal"
           class="modal fade"
           data-bs-backdrop="static"
           tabindex='-1'>
        <div id="htmxDialog"
             class="modal-dialog  modal-dialog-centered"
             hx-target="this"></div>
      </div>
    </div>
    <!-- BS JS -->
    <script src="/static/js/vendors.min.cb0be743cd01.js"></script>
    <script src="/static/js/external.min.f1f83a5d0c1d.js"></script>
    

<!-- Scripts needed for FilteredSelectMultipleHTMX widget -->
<script src="/jsi18n/"></script>
<script src="/static/admin/js/core.cf103cd04ebf.js"></script>
<script src="/static/admin/js/SelectBox.7d3ce5a98007.js"></script>
<script src="/static/js/misc/filtered-select-multiple-htmx.0634b619e155.js"></script>

    <!-- Specific JS goes HERE -->
    
    
  </body>
</html>
