





  <div id="table-container"
       class="table-container table-responsive-lg">
    
      <table id="table"
             class="table table-hover table-sm small">
        
          
            <thead >
              <tr>
                
                  <th class="orderable"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=consignee" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    Consignee
                  </th>
                
                  <th class="align-middle orderable text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=etd" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    ETD
                  </th>
                
                  <th class="align-middle orderable text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=eta" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    ETA
                  </th>
                
                  <th class="align-middle orderable text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=aerolinea" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    Airline
                  </th>
                
                  <th class="align-middle orderable"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=destino_awb" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    D. AWB
                  </th>
                
                  <th class="align-middle orderable"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=destino_final" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    D. Final
                  </th>
                
                  <th class=" align-middle orderable"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=awb_number" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    AWB
                  </th>
                
                  <th class=" orderable text-end text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=bxs_coo" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    BXS-COO
                  </th>
                
                  <th class=" orderable text-end text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=pcs_coo" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    PCS-COO
                  </th>
                
                  <th class=" orderable text-end text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=bxs_cierre" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    BXS-WH
                  </th>
                
                  <th class=" orderable text-end text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=pcs_cierre" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    PCS-WH
                  </th>
                
                  <th class=" orderable text-end text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=total_gross_weight" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    Gross Weight
                  </th>
                
                  <th class=" orderable text-end text-nowrap"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=total_charge_weight" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    Charge. Weight
                  </th>
                
                  <th style="text-align: center; white-space:nowrap;" class="orderable"  hx-get="?etd_start=2026-05-01&amp;etd_end=2026-05-31&amp;consignatarios=714&amp;awb=&amp;aerolinea=&amp;sort=status" hx-trigger="click" hx-indicator="#bar-indicator" hx-target="#table-container" hx-swap="outerHTML" role="button" >
                    State
                  </th>
                
              </tr>
            </thead>
          
        
        
          <tbody id="body-target" >
            
            
              
                <tr class="even">
                  
                    <td class="align-middle text-truncate" style="max-width: 500px">
                      
                        KAM
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="etd">
                      
                        26-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="eta">
                      
                        26-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="airline">
                      
                        (QR) QATAR AIRWAYS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. awb">
                      
                        AMS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. final">
                      
                        KZTSE
                      
                    </td>
                  
                    <td class=" align-middle">
                      
                        <a class="btn btn-sm btn-outline-ebfbluelight fw-semibold" href="/customer/awb/9850/info/">157-4665 4532</a>
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        4,000
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        11
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        0,000
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        0
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        176
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        192
                      
                    </td>
                  
                    <td style="text-align: center; white-space:nowrap;" class="align-middle">
                      
                        <i class="bi bi-circle text-secondary me-2"></i>In progress
                      
                    </td>
                  
                </tr>
              
            
              
                <tr class="odd">
                  
                    <td class="align-middle text-truncate" style="max-width: 500px">
                      
                        KAM
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="etd">
                      
                        19-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="eta">
                      
                        20-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="airline">
                      
                        (QR) QATAR AIRWAYS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. awb">
                      
                        AMS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. final">
                      
                        KZTSE
                      
                    </td>
                  
                    <td class=" align-middle">
                      
                        <a class="btn btn-sm btn-outline-ebfbluelight fw-semibold" href="/customer/awb/9594/info/">157-8512 3404</a>
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        9,750
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        21
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        8,750
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        19
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        384
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        416
                      
                    </td>
                  
                    <td style="text-align: center; white-space:nowrap;" class="align-middle">
                      
                        <i class="bi bi-check-circle-fill text-success me-2"></i>Delivered
                      
                    </td>
                  
                </tr>
              
            
              
                <tr class="even">
                  
                    <td class="align-middle text-truncate" style="max-width: 500px">
                      
                        KAM
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="etd">
                      
                        12-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="eta">
                      
                        13-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="airline">
                      
                        (QR) QATAR AIRWAYS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. awb">
                      
                        AMS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. final">
                      
                        KZTSE
                      
                    </td>
                  
                    <td class=" align-middle">
                      
                        <a class="btn btn-sm btn-outline-ebfbluelight fw-semibold" href="/customer/awb/9422/info/">157-4665 0704</a>
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        12,000
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        26
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        9,500
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        21
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        418
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        460
                      
                    </td>
                  
                    <td style="text-align: center; white-space:nowrap;" class="align-middle">
                      
                        <i class="bi bi-check-circle-fill text-success me-2"></i>Delivered
                      
                    </td>
                  
                </tr>
              
            
              
                <tr class="odd">
                  
                    <td class="align-middle text-truncate" style="max-width: 500px">
                      
                        KAM
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="etd">
                      
                        05-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="eta">
                      
                        06-May-2026
                      
                    </td>
                  
                    <td class="align-middle text-nowrap" data-column="airline">
                      
                        (QR) QATAR AIRWAYS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. awb">
                      
                        AMS
                      
                    </td>
                  
                    <td class="align-middle" style="max-width: 200px;" data-column="d. final">
                      
                        KZTSE
                      
                    </td>
                  
                    <td class=" align-middle">
                      
                        <a class="btn btn-sm btn-outline-ebfbluelight fw-semibold" href="/customer/awb/9216/info/">157-4665 0973</a>
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        12,000
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        26
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        9,500
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-ebfbluelight text-end">
                      
                        21
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        396
                      
                    </td>
                  
                    <td class="align-middle fw-semibold text-end">
                      
                        445
                      
                    </td>
                  
                    <td style="text-align: center; white-space:nowrap;" class="align-middle">
                      
                        <i class="bi bi-check-circle-fill text-success me-2"></i>Delivered
                      
                    </td>
                  
                </tr>
              
            
          </tbody>
        
        
          
            <tfoot >
              <tr>
                
                  <td >
                  </td>
                
                  <td >
                  </td>
                
                  <td >
                  </td>
                
                  <td >
                  </td>
                
                  <td >
                  </td>
                
                  <td >
                  </td>
                
                  <td >
                  </td>
                
                  <td class="align-middle bg-body-secondary fw-semibold text-end">37,750
                  </td>
                
                  <td class="align-middle bg-body-secondary fw-semibold text-end">84
                  </td>
                
                  <td class="align-middle bg-body-secondary fw-semibold text-ebfbluelight text-end">27,750
                  </td>
                
                  <td class="align-middle bg-body-secondary fw-semibold text-ebfbluelight text-end">61
                  </td>
                
                  <td class="align-middle bg-body-secondary fw-semibold text-end">1374
                  </td>
                
                  <td class="align-middle bg-body-secondary fw-semibold text-end">1513
                  </td>
                
                  <td >
                  </td>
                
              </tr>
            </tfoot>
          
        
      </table>
    
    
      
    
  </div>


